<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Update Author</title>
</head>

<body>
    <h1>Update Author</h1>

    <form id="updateAuthorForm">
        <input type="text" id="name" placeholder="Nome" required>
        <input type="stage_name" id="stage_name" placeholder="Stage Name"  required>
        <input type="text" id="cpf" placeholder="cpf" minlength="9" required>

        <button type="submit">Salvar</button>
        <button onclick="goBack()">Voltar</button>
    </form>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const authorId = urlParams.get('authorId');

        async function getAuthorDetails(authorId) {
            try {
                const response = await fetch(`http://localhost:3000/authors/${authorId}`);
                const author = await response.json();

                document.getElementById('name').value = author.name;
                document.getElementById('stage_name').value = author.stage_name;
                document.getElementById('cpf').value = author.cpf;

            } catch (error) {
                console.error('Erro ao buscar detalhes do usuário:', error);
            }
        }

        async function updateAuthor(event) {
            event.preventDefault();

            const name = document.getElementById('name').value;
            const stage_name = document.getElementById('stage_name').value;
            const cpf = document.getElementById('cpf').value;


            try {
                const response = await fetch(`http://localhost:3000/authors/${authorId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ name, stage_name, cpf }),
                });

                if (response.ok) {
                    // Redireciona de volta para index.html após a atualização
                    window.location.href = 'index.html';
                } else {
                    console.error('Erro ao atualizar usuário');
                }
            } catch (error) {
                console.error('Erro ao atualizar usuário:', error);
            }
        }

        async function goBack() {
            window.history.back();
        }

        getAuthorDetails(authorId);
        document.getElementById('updateAuthorForm').addEventListener('submit', updateAuthor);
    </script>
</body>

</html>